<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" *ngIf="isToggled">
        <div id="dismiss">
            <button class="btn" id ="dismissBtn" (click) = "onDismiss()"><i class="fas fa-times"></i></button>
        </div>
        <div class="sidebar-header">
            <!-- <h3>Recipes</h3> -->
            <img src="../../assets/images/recipe.jpg" class = "center">
        </div>

        <ul class="list-unstyled components">
            <li>
                <a [routerLink]="['/recipe']" routerLinkActive="router-link-active" >RECIPES AND MENUS</a>
            </li>
            <li>
                <a [routerLink]="['/recipe']" routerLinkActive="router-link-active" >EXPERT ADVISE</a>
            </li>
            <li>
                <a [routerLink]="['/recipe']" routerLinkActive="router-link-active" >INGREDIENTS</a>
            </li>
            <li>
                <a [routerLink]="['/recipe']" routerLinkActive="router-link-active" >CONTACT</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="onToggleClick()"> 
                    <i class="fas fa-align-left"></i>
                </button>
    
            </div>
        </nav>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay" *ngIf="!isToggled"></div>
</div>

<div class="page-region">
    <!-- add a search form here ...maybe add routing that would be ideal? -->
    <strong class="find-a-recipe">Find a recipe</strong>
    <form [formGroup]="searchRecipeForm" (ngSubmit)="onSearchRecipeFormSubmit()">
        <input type="text" class="container" formControlName="searchRecipe">
        <button class="btn" id="searchBtn"><i class="fas fa-search"></i></button>
    </form>
</div>

<!-- to show matched results on the screen  -->
<div class="matchedRecipes">
    <div *ngFor="let item of matchedRecipes" class="column">
        <img src={{item.display.images[0]}} id ="selectedRecipe" (click) = "onImageClick(item.display.displayName)"/>
        <p>{{item.display.displayName}}</p>
    </div>
</div>